/* FacultyHome.css */

.faculty-home-container {
  margin-top: 50px;
}

button {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}

.card {
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

  
  